[color]
  ui = auto
[alias]
  st = status
  di = diff
  ci = commit
  br = branch
  llog = log --date=local
[rerere]
  enabled = true
[user]
	email = strawberryelle85@gmail.com
	name = webdesignchick
